all-hosts:
  user: ubuntu
  ssh-key: ~/.ssh/your_ssh_key.pem
  aws-ebs:
      - device: /dev/xvdb
        mount: /mnt/kafka/logs
        owner: ubuntu
  software:
    - name: zookeeper
      args:
        port: 2181
        nodes:
          - server.1=10.0.0.1:2888:3888
          - server.2=10.0.0.2:2888:3888
          - server.3=10.0.0.3:2888:3888
    - name: kafka-broker
      args:
        version: 0.10.0.1
        zookeeper-hosts: 10.0.0.1:2181,10.0.0.2:2181,10.0.0.3:2181
        log-directories: /mnt/kafka/logs

hosts:

  - name: kafka-1
    private-ip: 10.0.0.1
    public-ip: ec2-111-111-111-111.compute-1.amazonaws.com
    software:
      - name: zookeeper
        args:
          id: 1
      - name: kafka-broker
        args:
          broker-id: 1

  - name: kafka-2
    private-ip: 10.0.0.2
    public-ip: ec2-222-222-222-222.compute-1.amazonaws.com
    software:
      - name: zookeeper
        args:
          id: 2
      - name: kafka-broker
        args:
          broker-id: 2

  - name: kafka-3
    private-ip: 10.0.0.3
    public-ip: ec2-333-333-333-333.compute-1.amazonaws.com
    software:
      - name: zookeeper
        args:
          id: 3
      - name: kafka-broker
        args:
          broker-id: 3
