hosts:
  - name: zookeeper
    public-ip: 192.168.100.100
    private-ip: 192.168.100.100
    software:
      - name: zookeeper
        port: 2181
        id: 1
        nodes:
          - server.1=192.168.100.100:2888:3888

  - name: kafka
    public-ip: 192.168.100.102
    private-ip: 192.168.100.102
    software:
      - name: kafka-broker
        version: 0.10.0.1
        broker-id: 0
        zookeeper-hosts: 192.168.100.100:2181
      - name: kafka-manager
        zookeeper-hosts: 192.168.100.100:2181

  - name: redis
    os: ubuntu/trusty64
    cpu: 1
    memory: 1024
    public-ip: 192.168.100.111
    private-ip: 192.168.100.111
    software:
      - name: redis
        version: 3.2.6
        port: 6379

  - name: cassandra
    public-ip: 192.168.100.106
    private-ip: 192.168.100.106
    software:
      - name: cassandra
        cluster-name: MY-CLUSTER
        seeds: 192.168.100.106
      - name: cassandra-lucene-index

  - name: riak
    public-ip: 192.168.100.107
    private-ip: 192.168.100.107
    software:
      - name: riak-kv
